# Python
__pycache__/
*.py[cod]
.venv/
venv/
*.db
.env

# Node
node_modules/
.next/
dist/
build/
*.tsbuildinfo
frontend/vite.config.js
frontend/vite.config.d.ts

# OS / editors
.DS_Store
.idea/
.vscode/
